@inject Microsoft.Extensions.Localization.IStringLocalizer<AddFlexMoneyLinesModel> _localizer
<style>
    select{
        width: 100%;
        height: 100%;
        border: 1px solid rgb(189 189 189);
        border-radius: 3px;
    }

    select:focus {
        border-color: #007bff;
        outline: none;
    }
</style>
<EditForm Model="@AddMoneyLineModel" OnValidSubmit="SaveAsync">
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <MudDialog>
        <TitleContent>
            @{
                if (AddMoneyLineModel.Id == 0)
                {
                        <MudText Typo="Typo.h6">
                            <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-3 mb-n1" />
                            @_localizer["Add Money Line"]
                        </MudText>
                }
                else
                {
                        <MudText Typo="Typo.h6">
                            <MudIcon Icon="@Icons.Material.Filled.Update" Class="mr-3 mb-n1" />
                            @_localizer["Update Money Line"]
                        </MudText>
                }
            }
        </TitleContent>
        <DialogContent>
            <MudGrid>
                @if (AddMoneyLineModel.Id != 0)
                {
                    <MudItem xs="12" md="6">
                        <MudTextField Disabled For="@(() => AddMoneyLineModel.Id)" @bind-Value="AddMoneyLineModel.Id" Label="@_localizer["Id"]" />
                    </MudItem>
                }
                <MudItem xs="12" md="6">
                    <MudDatePicker Label="Date" @bind-Date="date"  />
                </MudItem>
                <MudItem xs="8" md="6">
                    <MudSelect T="string" Label="Money Type" AnchorOrigin="Origin.BottomCenter">
                        @foreach(var type in _typeList){
                            <MudSelectItem Value="@type.Name">@type.Name (@type.Note)</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="8" md="3">
                    <select id="select" multiple="@true" >
                        @foreach (var member in _memberList)
                        {
                            <option value="@member.Id"  @onclick="@(() => InvokeModalMember(member.Id))">@member.Name</option>
                        }
                    </select>
                </MudItem>  
                <MudItem xs="12" md="2">
                    <MudButton @onclick="@(()=> AddMemberToList())"  Style="width: 100%;">@_localizer[">>"]</MudButton>
                    <MudButton @onclick="@(()=> DeleMemberInList())" Style="width: 100%;">@_localizer["<<"]</MudButton>
                </MudItem>
                <MudItem xs="8" md="3">
                    <select id="select" multiple="@true">
                        @foreach (var member in _memberListToAdd)
                        {
                            <option value="@member.Id" @onclick="@(() => InvokeModalMember(member.Id))">@member.Name</option>
                        }
                    </select>
                </MudItem>
                <MudItem xs="15" md="4">
                    <MudTextField T="string" For="@(() => AddMoneyLineModel.Name)" @bind-Value="AddMoneyLineModel.Name" Label="@_localizer["Name"]" />
                    <MudTextField T="decimal" For="@(() => AddMoneyLineModel.Money)" @bind-Value="AddMoneyLineModel.Money" Label="@_localizer["Money"]" />
                    <MudTextField For="@(() => AddMoneyLineModel.Quantity)" @bind-Value="AddMoneyLineModel.Quantity" Label="@_localizer["Quantity"]" />
                    <MudSelect T="string" Label="Owner">
                        @foreach (var item in _memberList)
                        {
                            <MudSelectItem Value="@(item.Name)" />
                        }

                    </MudSelect>
                </MudItem>
                <MudItem xs="15" md="12">
                    <MudButton>@_localizer["Reset"]</MudButton>
                    <MudButton @onclick="@(()=> AddAllLine())">@_localizer["Add All"]</MudButton>
                    <MudButton @onclick="@(()=> DeleteAllLine())">@_localizer["Delete All"]</MudButton>
                </MudItem>
            </MudGrid>
        </DialogContent>
        <DialogActions>
            <MudButton DisableElevation Variant="Variant.Filled" OnClick="Cancel">@_localizer["Cancel"]</MudButton>
            @if (AddMoneyLineModel.Id != 0)
            {
                <MudButton DisableElevation Variant="Variant.Filled" ButtonType="ButtonType.Submit" Disabled="@(!Validated)" Color="Color.Secondary">@_localizer["Update"]</MudButton>
            }
            else
            {
                <MudButton DisableElevation Variant="Variant.Filled" ButtonType="ButtonType.Submit" Disabled="@(!Validated)" Color="Color.Success">@_localizer["Save"]</MudButton>
            }
        </DialogActions>
    </MudDialog>
</EditForm>