@page "/catalog/reports/allmembers"
@attribute [Authorize(Policy = Permissions.Reports.View)]
@inject Microsoft.Extensions.Localization.IStringLocalizer<AllMembersReport> _localizer
@using FlexMoney.Application.Features.Reports.Queries.GetAll;
<style>
    .mud-table-container {
        overflow: auto;
    }
</style>
<HeroTitle Title="@_localizer["All Members Report"]" Description="@_localizer["Manage Reports."]" />
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudTable Hover="true" Elevation="25" Items="_allMemberReportList" Dense="@_dense" Bordered="@_bordered" Striped="@_striped" Filter="new Func<GetAllMembersReportResponse, bool>(Search)" @bind-member="_allMemberReport">
        <ToolBarContent>
            <MudToolBarSpacer />
            <div class="justify-center mud-text-align-center">
            @if (_canExportAllMembersReport)
            {
        <MudButton DisableElevation Variant="Variant.Filled" OnClick="ExportToExcel" StartIcon="@Icons.Custom.FileFormats.FileExcel" IconColor="Color.Secondary" Color="Color.Surface" Style="margin-left: 5px;">@_localizer["Export"]</MudButton>
        }
        </div>
        </ToolBarContent>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllMembersReportResponse, object>(x => x.MemberName)">@_localizer["MemberName"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllMembersReportResponse, object>(x => x.Earn)">@_localizer["Earn"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllMembersReportResponse, object>(x => x.Pay)">@_localizer["Pay"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllMembersReportResponse, object>(x => x.ThankMoney)">@_localizer["ThankMoney"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllMembersReportResponse, object>(x => x.Dead)">@_localizer["Dead"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllMembersReportResponse, object>(x => x.Alive)">@_localizer["Alive"]</MudTableSortLabel></MudTh>

        </HeaderContent>
        <RowTemplate>

            <MudTd DataLabel="Name">
                <MudHighlighter Text="@context.MemberName" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="Earn">
                <MudHighlighter Text="@($"{context.Earn}")" />
            </MudTd>
            <MudTd DataLabel="Pay">
                <MudHighlighter Text="@($"{context.Pay}")" />
            </MudTd>
            <MudTd DataLabel="Thank Money">
                <MudHighlighter Text="@($"{context.ThankMoney}")" />
            </MudTd>
            <MudTd DataLabel="Dead">
                <MudHighlighter Text="@($"{context.Dead}")" />
            </MudTd>
            <MudTd DataLabel="Alive">
                <MudHighlighter Text="@($"{context.Alive}")" />
            </MudTd>
        </RowTemplate>
        <FooterContent>
            <MudSwitch @bind-Checked="@_dense" Color="Color.Secondary" Style="margin-left: 5px;">@_localizer["Dense"]</MudSwitch>
            <MudSwitch @bind-Checked="@_striped" Color="Color.Tertiary" Style="margin-left: 5px;">@_localizer["Striped"]</MudSwitch>
            <MudSwitch @bind-Checked="@_bordered" Color="Color.Warning" Style="margin-left: 5px;">@_localizer["Bordered"]</MudSwitch>
        </FooterContent>
        <PagerContent>
            <TablePager />
        </PagerContent>
    </MudTable>
}